<!DOCTYPE html>
<html>
<head>
  <title>CowApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head
<body>

<header class="<%=params[:action]%>-page">
    <nav class ="topnav">
       <li><%= link_to('Cows', cows_path)%></li>
       <li><%= link_to('New Cows', new_cow_path)%></li>
    </nav>
</header>

<%= yield %>

</body>
</html>
